@using HKShared.Data
@model List<Product>
@{
    var saleProducts = (List<Product>)ViewBag.SaleProducts;
    ViewData["Title"] = "Trang chủ";
}

<main class="site-main">
    <section class="home-banner">
        <div class="home-banner__slide home-banner--slide">
            <div class="banner-slide">
                <div class="">
                    <a href="" target="_self"
                       class="">
                        <picture style="display: block; height: 100%; width: 100%;">
                            <source media="(min-width:1025px)" srcset="~/images/home/banner1-pc.webp">
                            <source media="(max-width:1024px)" srcset="~/images/home/banner1-mb.webp">
                            <img style="height: 100%" src="~/images/home/banner1-pc.webp"
                                 fetchpriority="low" decoding="async" alt="Banner Aromatide" width="1429"
                                 height="645" />
                        </picture>
                    </a>
                </div>
            </div>
            <div class="banner-slide">
                <div class="">
                    <a href="" target="_self"
                       class="">
                        <picture style="display: block; height: 100%; width: 100%;">
                            <source media="(min-width:1025px)" srcset="~/images/home/banner1-pc.webp">
                            <source media="(max-width:1024px)" srcset="~/images/home/banner1-mb.webp">
                            <img style="height: 100%" src="~/images/home/banner1-pc.webp"
                                 fetchpriority="low" decoding="async" alt="Banner Aromatide" width="1429"
                                 height="645" />
                        </picture>
                    </a>
                </div>
            </div>
            <div class="banner-slide">
                <div class="">
                    <a href="" target="_self"
                       class="">
                        <picture style="display: block; height: 100%; width: 100%;">
                            <source media="(min-width:1025px)" srcset="~/images/home/banner1-pc.webp">
                            <source media="(max-width:1024px)" srcset="~/images/home/banner1-mb.webp">
                            <img style="height: 100%" src="~/images/home/banner1-pc.webp"
                                 fetchpriority="low" decoding="async" alt="Banner Aromatide" width="1429"
                                 height="645" />
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- ===== START BANNER SUB ===== -->
    <section>
        <div class="bg-primaryColor">
            <div class="container">
                <div class="sub-banner">
                    <a asp-controller="Home" asp-action="Privacy" class="sub-banner_item">
                        <div class="sub-banner_item__icon icon-shipper"></div>
                        <div class="sub-banner_item__text">
                            <div class="sub-banner_item__text__title">
                                Ship COD toàn quốc
                            </div>
                            <div class="sub-banner_item__text__desc">
                                Thanh toán khi nhận hàng.
                            </div>
                        </div>
                    </a>
                    <a asp-controller="Home" asp-action="Privacy" class="sub-banner_item">
                        <div class="sub-banner_item__icon icon-refund"></div>
                        <div class="sub-banner_item__text">
                            <div class="sub-banner_item__text__title">
                                Miễn phí đổi - trả
                            </div>
                            <div class="sub-banner_item__text__desc">
                                Đối với sản phẩm lỗi sản xuất hoặc vận chuyển
                            </div>
                        </div>
                    </a>
                    <a asp-controller="Home" asp-action="Privacy" class="sub-banner_item">
                        <div class="sub-banner_item__icon icon-member"></div>
                        <div class="sub-banner_item__text">
                            <div class="sub-banner_item__text__title">
                                Ưu đãi khách hàng
                            </div>
                            <div class="sub-banner_item__text__desc">
                                Liên hệ nhận nhiều ưu đãi lớn
                            </div>
                        </div>
                    </a>
                    <a asp-controller="Home" asp-action="Privacy" class="sub-banner_item">
                        <div class="sub-banner_item__icon icon-combo"></div>
                        <div class="sub-banner_item__text">
                            <div class="sub-banner_item__text__title">
                                Ưu đãi combo
                            </div>
                            <div class="sub-banner_item__text__desc">
                                Mua theo combo, càng mua càng rẻ
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- ===== END BANNER SUB ===== -->
    <!-- ===== Sale & COMBO ===== -->
    <section class="home-product">
        <div class="container">
            <a href="/cm/khuyen-mai-va-combo">
                <h2 class="h3 section-heading text--center">
                    Khuyến mãi và Combo
                </h2>
            </a>

            <div class="home-product__slide">
                <div class="product-box home-product--slider">
                    @if (saleProducts != null)
                    {
                        foreach (var sale in saleProducts)
                        {
                            <div class="product-box_item five-cols">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@sale.Id" class="product-box_item__image">
                                    <img class="ls-is-cached" loading="lazy" src="@sale.LinkImage"
                                         alt="@sale.Preview"
                                         title="@sale.Name"
                                         width=200 height=200 />
                                    <div class="product-box_item__image__tags">
                                        <div class="tag-sale">@sale.DiscountPercent</div>
                                        @* <div style="background:#3e6807;">Best Seller</div> *@
                                    </div>
                                </a>
                                <div class="product-box_item__content">
                                    <h3>
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@sale.Id"
                                           class="product-box_item__content__title maxLine_2">
                                            @sale.Name
                                        </a>
                                    </h3>
                                    <div class="product-box_item__content__price">
                                        <div class="price-now">@sale.FormatedCurrentPrice</div>
                                        <div class="price-old">@sale.FormatedRegularPrice</div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- ===== END Sale & Combo ===== -->
    <!-- ===== Product (MOBILE) ===== -->
    <section class="home-product enable-max-767">
        <div class="container">
            <img loading="lazy" src="/images/home/banner-product-mb.webp" title="sản phẩm"
                 alt="sản phẩm" width="324" height="163" />
            <a href="" class="h3 section-heading text--center">
                <h2>
                    Sản phẩm của chúng tôi
                </h2>
            </a>
            <div class="home-product__slide">
                <div class="product-box home-product--slider">
                    @if (Model != null)
                    {
                        foreach (var product in Model)
                        {
                            <div class="product-box_item five-cols">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="product-box_item__image">
                                    <img class="ls-is-cached" loading="lazy" src="@product.LinkImage"
                                         alt="@product.Preview"
                                         title="@product.Name"
                                         width=200 height=200 />
                                    @if(product.DiscountPercent != "")
                                    {
                                        <div class="product-box_item__image__tags">
                                            <div class="tag-sale">@product.DiscountPercent</div>
                                        </div>
                                    }
                                </a>
                                <div class="product-box_item__content">
                                    <h3>
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"
                                           class="product-box_item__content__title maxLine_2">
                                            @product.Name
                                        </a>
                                    </h3>
                                    <div class="product-box_item__content__price">
                                        <div class="price-now">@product.FormatedCurrentPrice</div>
                                        @if (product.CurrentPrice != product.Price)
                                        {
                                            <div class="price-old">@product.FormatedRegularPrice</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- ===== End Product (MOBILE) ===== -->
    <!-- ===== Product ===== -->
    <section class="home-product disable-max-767">
        <div class="container">
            <div class="home-product__banner disable-max-767">
                <img loading="lazy" src="/images/home/banner-product-pc.webp" title="sản phẩm"
                     alt="san-pham" />
            </div>
            <div class="home-product__banner enable-max-767">
                <img loading="lazy" src="/images/home/banner-product-mb.webp" title="sản phẩm"
                     alt="sản phẩm" />
            </div>
            <a href="">
                <h2 class="h3 section-heading text--center">
                    Sản phẩm của chúng tôi
                </h2>
            </a>
            <div class="home-product__slide">
                <div class="product-box wrap">
                    @if (Model != null)
                    {
                        foreach (var product in Model)
                        {
                            <div class="product-box_item two-cols">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="product-box_item__image">
                                    <img class="ls-is-cached lazyload"
                                         src="@product.LinkImage" width="200"
                                         height="200" alt="@product.Name" title="@product.Name" />
                                    @if (product.DiscountPercent != "")
                                    {
                                        <div class="product-box_item__image__tags">
                                            <div class="tag-sale">@product.DiscountPercent</div>
                                            @* <div style="background:#3e6807;">Giá ưu đãi</div> *@
                                        </div>
                                    }
                                </a>
                                <div class="product-box_item__content">
                                    <h3>
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"
                                           class="product-box_item__content__title maxLine_2">
                                            @product.Name
                                        </a>
                                    </h3>
                                    <div class="product-box_item__content__price">
                                        <div class="price-now">@product.FormatedCurrentPrice</div>
                                        @if (product.CurrentPrice != product.Price)
                                        {
                                            <div class="price-old">@product.FormatedRegularPrice</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </section>
    <!-- ===== End Product ===== -->
    <!-- ===== About us ===== -->

    <section class="home-resources homeProductBg">
        <div class="container-full">
            <div class="home-resources__inner">
                <div class="home-resources__header">
                    <h2 class="mt-2">Sản phẩm Aromatide</h2>
                    <p>Chất lượng - An toàn - Đa dạng</p>
                    <div class="home-resources__action">
                        <!-- <a href="https://aromatide.com.vn/minh-bach-nguyen-lieu?itm_source=homepage&amp;itm_campaign=minh_bach_nguyen_lieu"
                            class="btn">
                            Xem thêm
                        </a> -->
                        <div class="resources-slide__button">
                            <a href="#" id="resources-slide-prev" class="slick-arrow slick-prev">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M256 0C114.837 0 0 114.837 0 256s114.837 256 256 256 256-114.837 256-256S397.163 0 256 0zm79.083 271.083L228.416 377.749A21.275 21.275 0 01213.333 384a21.277 21.277 0 01-15.083-6.251c-8.341-8.341-8.341-21.824 0-30.165L289.835 256l-91.584-91.584c-8.341-8.341-8.341-21.824 0-30.165s21.824-8.341 30.165 0l106.667 106.667c8.341 8.341 8.341 21.823 0 30.165z" />
                                </svg>
                            </a>
                            <a href="#" id="resources-slide-next" class="slick-arrow slick-next">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path d="M256 0C114.837 0 0 114.837 0 256s114.837 256 256 256 256-114.837 256-256S397.163 0 256 0zm79.083 271.083L228.416 377.749A21.275 21.275 0 01213.333 384a21.277 21.277 0 01-15.083-6.251c-8.341-8.341-8.341-21.824 0-30.165L289.835 256l-91.584-91.584c-8.341-8.341-8.341-21.824 0-30.165s21.824-8.341 30.165 0l106.667 106.667c8.341 8.341 8.341 21.823 0 30.165z" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="home-resources__list home-resources--slide">
                    <div class="home-resources__item">
                        <div class="resources-grid resources-grid--brown">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/images/home/gao.webp" alt="Hương gạo">
                            </div>
                            <div class="content">
                                <h3 class="title">
                                    Hương gạo
                                </h3>
                                <p class="description">
                                    Lá Bạc hà được sử dụng trong các sản phẩm mỹ phẩm như: cao dược liệu để gội
                                    đầu, lá tắm cho trẻ em, nước súc miệng...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="home-resources__item">
                        <div class="resources-grid resources-grid--green resources-grid--bottom">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/images/home/tao-kiwi.webp" alt="Hương táo kiwi">
                            </div>
                            <div class="content">
                                <h3 class="title">
                                    Hương táo kiwi
                                </h3>
                                <p class="description">
                                    Dầu dừa được chiết xuất từ phần cùi trắng của quả dừa, có thể được tìm thấy
                                    trong nhiều loại mỹ phẩm và sản phẩm chăm sóc cá nhân.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="home-resources__item">
                        <div class="resources-grid resources-grid--pink">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/images/home/sen.webp"
                                     alt="Hương sen">
                            </div>
                            <div class="content">
                                <h3 class="title">
                                    Hương sen
                                </h3>
                                <p class="description">
                                    Tinh dầu Cam ngọt được sử dụng trong mỹ phẩm như một thành phần làm thơm,
                                    giải tỏa căng thẳng: sáp thơm, tinh dầu treo, kem dưỡng...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="home-resources__item">
                        <div class="resources-grid resources-grid--orange resources-grid--bottom">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/images/home/cam-que.webp"
                                     alt="Hương cam quế">
                            </div>
                            <div class="content">
                                <h3 class="title">
                                    Hương cam quế
                                </h3>
                                <p class="description">
                                    Được chiết từ thịt quả bơ chín ngay sau khi thu hoạch bằng phương pháp ép
                                    lạnh, phương pháp này giữ được nguyên dinh dưỡng tốt trong dầu.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="home-resources__item">
                        <div class="resources-grid resources-grid--green">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/images/home/sa-chanh.webp" alt="Hương sả chanh">
                            </div>
                            <div class="content">
                                <h3 class="title">
                                    Hương sả chanh
                                </h3>
                                <p class="description">
                                    Dầu dừa được chiết xuất từ phần cùi trắng của quả dừa, có thể được tìm thấy
                                    trong nhiều loại mỹ phẩm và sản phẩm chăm sóc cá nhân.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="home-resources__item">
                        <div class="resources-grid resources-grid--purple resources-grid--bottom">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/images/home/lavender.webp" alt="Hương lavender">
                            </div>
                            <div class="content">
                                <h3 class="title">
                                    Hương lavender
                                </h3>
                                <p class="description">
                                    Dầu dừa được chiết xuất từ phần cùi trắng của quả dừa, có thể được tìm thấy
                                    trong nhiều loại mỹ phẩm và sản phẩm chăm sóc cá nhân.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="home-resources__item">
                        <div class="resources-grid resources-grid--pink">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/images/home/hoa-ha.webp" alt="Hương hoa hạ">
                            </div>
                            <div class="content">
                                <h3 class="title">
                                    Hương hoa hạ
                                </h3>
                                <p class="description">
                                    Dầu dừa được chiết xuất từ phần cùi trắng của quả dừa, có thể được tìm thấy
                                    trong nhiều loại mỹ phẩm và sản phẩm chăm sóc cá nhân.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="home-resources__item">
                        <div class="resources-grid resources-grid--yellow resources-grid--bottom">
                            <div class="thumbnail">
                                <img loading="lazy" src="~/images/home/ylang.webp" alt="Hương ylang">
                            </div>
                            <div class="content">
                                <h3 class="title">
                                    Hương ylang
                                </h3>
                                <p class="description">
                                    Dầu dừa được chiết xuất từ phần cùi trắng của quả dừa, có thể được tìm thấy
                                    trong nhiều loại mỹ phẩm và sản phẩm chăm sóc cá nhân.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home-abouts">
        <div class="container">
            <div class="homeAboutBox">
                <div class="homeAboutBox_img">
                    <img loading="lazy"
                         src="~/images/home/logo.png"
                         alt="aromatide">
                </div>
                <div class="homeAboutBox_content">
                    <div class="homeAboutBox_content_title">
                        <h2 class="section-heading">
                            Aromatide
                        </h2>
                    </div>
                    <div class="homeAboutBox_content_text">
                        <div class="home-abouts__description">
                            <p>
                                <strong>
                                    
                                </strong>
                            </p>
                            <p>
                                
                            </p>
                        </div>
                    </div>
                    <div class="homeAboutBox_content_btn">
                        <a asp-controller="Home" asp-action="AboutUs" class="btn btn--secondary">
                            XEM THÊM
                        </a>
                    </div>
                    <div class="homeAboutBox_content_list">
                        <div class="home-abouts__slide">
                            <div class="grid grid--two-columns grid--box home-abouts--slide">
                                <div class="grid__column">
                                    <div class="about-slide">
                                        <div class="thumbnail">
                                            <a href="">
                                                <img loading="lazy" src="~/images/home/logo.png"
                                                     alt="Giới thiệu Aromatide">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h3 class="title maxLine_3">
                                                <a href="">
                                                    Nhà máy sản xuất Aromatide sản xuất 
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__column">
                                    <div class="about-slide">
                                        <div class="thumbnail">
                                            <a href="">
                                                <img loading="lazy" src="~/images/home/logo.png"
                                                     alt="Giới thiệu Aromatide">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h3 class="title maxLine_3">
                                                <a href="">
                                                    Thông tin Aroamtide
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="abouts-dots" class="home-abouts__dots"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ===== End About us ===== -->

</main>
@section Scripts {
    <script src="~/js/home/home.js" asp-append-version="true"></script>
}