@using HKMain.Areas.Admin.Models
@model OrderEditViewModel
@{
    var formTitle = (Model.Id == 0) ? "Thêm mới" : "Chỉnh sửa";
    var formDes = (Model.Id == 0) ? "Thêm đơn hàng" : "Chỉnh sửa đơn hàng " + Model.Id;
}
@section Styles {
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
    <link rel="stylesheet" href="~/css/admin/tagify.css">
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@formTitle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Order" asp-action="Index">Danh sách</a></li>
                        <li class="breadcrumb-item active">@formTitle</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
   <section class="content">
        <div class="container-fluid">
            <form asp-area="Admin" asp-controller="Order" asp-action="Edit" method="post" class="modalForm" autocomplete="off">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Id" type="hidden" />
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mb-3">
                    <div class="d-flex flex-column justify-content-center">
                        <h4 class="mb-1 mt-3">@formDes</h4>
                        @* <p class="text-muted">Orders placed across your store</p> *@
                    </div>
                    <div class="d-flex align-content-center flex-wrap gap-3">
                        <div class="d-flex gap-3 mr-2">
                            <a asp-action="Edit" formmethod="get" class="btn btn-danger">Hủy</a>
                            @* <button class="btn btn-label-primary">Save draft</button> *@
                        </div>
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12  col-lg-6">
                        <div class="card">
                            <div class="card-header card-datatable table-responsive">
                                <table id="table_orders" class="datatables-order table table-bordered table-striped dataTable dtr-inline projects">
                                    <thead class="border-top">
                                        <tr>
                                            <th></th>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Customers</th>
                                            <th>Payment</th>
                                            <th>Status</th>
                                            <th>Method</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Thông tin đơn hàng</h5>
                                <h5 class="card-title mb-0 float-right ">Thời gian đặt: @Model.Date</h5>
                               @*  <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div> *@
                            </div>
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col">
                                        <label asp-for="NameUser" class="form-label"></label>
                                        <input asp-for="NameUser" type="text" class="form-control" placeholder="" aria-label="">
                                    </div>
                                    <div class="col">
                                        <label asp-for="EmailUser" class="form-label"></label>
                                        <input asp-for="EmailUser" type="text" class="form-control" placeholder="" aria-label="">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label asp-for="PhoneUser"></label>
                                        <input asp-for="PhoneUser" type="text" class="form-control" placeholder="" aria-label="">
                                    </div>
                                    <div class="col">
                                        <label asp-for="ShippingAddress"></label>
                                        <input asp-for="ShippingAddress" type="text" class="form-control" placeholder="" aria-label="">
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <label asp-for="PaymentStatus"></label>
                                    <select asp-for="PaymentStatus" asp-items="@Html.GetEnumSelectList(Model.PaymentStatus.GetType())" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Status"></label>
                                    <select asp-for="Status" asp-items="@Html.GetEnumSelectList(Model.Status.GetType())" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/js/admin/hk.order-edit.js"></script>
}